<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/css/registration-style.css">
</head>
    <body>
        <form action="http://localhost:8080/api/v1/" method="POST">
            <div class="registration-container">
                <h3>Create New Account</h3>
                <a>Please fill in the form to continue</a>

                <label for="firstName"></label>
                <input type="text" id="firstName" name="firstName" required placeholder="First Name">

                <label for="lastName"></label>
                <input type="text" id="lastName" name="lastName" required placeholder="Last Name">

                <label for="email"></label>
                <input type="email" id="email" name="email" required placeholder="Email">

                <label for="password"></label>
                <input type="password" id="password" name="password" required placeholder="Password">

                <input type="submit" value="Register">
            </div>

            <div class="google-registration-container">
                <button type="submit">
                    <img src="../image/GoogleLogo.svg" alt="Google logo"> Sign Up By Google
                </button>
            </div>

            <div class="redirect-to-login">
                <p>
                    Have An Account? <a href="login.html" target="_blank">Sign In</a>
                </p>
            </div>
        </form>
    </body>
</html>